
CIAO 3.0
--------

  Changes since 2.3
  -----------------

  - Added the list_seealso binary (--listseealso parameter)

  - CIAO must have been started before running the script
    *AND* the ahelp database be up-to-date (since we use it
    to create the "See Also" information). Actually this was
    true in CIAO 2.3 but let's be explicit.

What you need:

  ahelp2html.pl

  stylesheets/
    ahelp.xsl
    ahelp_list_info.xsl
    ahelp_index.xsl
    ahelp_common.xsl
    ahelp_main.xsl

  C++/
    Makefile
    list_seealso.cc

  libxml2 - tested with 2.5.7
            ftp://ftp.gnome.org/pub/GNOME/sources/libxml2/2.5/
  libxslt - tested with 1.0.30
            ftp://ftp.gnome.org/pub/GNOME/sources/libxslt/1.0

To create a set of ahelp HTML files for the CIAO distribution:

1) Ensure libxml2/libxslt are installed

The conversion needs the xsltproc tool from the libxslt distribtion,
and libxslt needs libxml2.

2) Create list_seealso executable

Start CIAO (version 3.0) and then 'make list_seealso' in C++
directory. The Sun compiler spews out a few warnings but I'm
ignoring them as they do not seem relevant.

3) Create the HTML files

If

  $id = location of ahelp2html.pl and list_seealso
  $id/stylesheets/ = location of *xsl files listed above

  xsltproc is installed in $xproc/bin/
  libs (libxml2/libxslt) are in $xproc/lib/

  $out is where the files are to be installed (i.e. what 
    will become $ASCDS_INSTALL/doc/html/)

  $store is a temporary directory - e.g. /tmp/ahelp/.
    This is used during the build process and can be deleted once
    the build is finished.

$ perl $id/ahelp2html.pl \
  --format=dist --version=3.0 \
  --styledir=$id/stylesheets/ --listseealso=$id/list_seealso \
  --xsltproc=$xproc/bin/xsltproc --xsltpath=$xproc/lib/ \
  --indir=$ASCDS_INSTALL/doc/xml/ --store=$store --outdir=$out

This should create

  $out/index.html
  $out/index_alphabet.html
  $out/index_context.html

and

  $out/*/*html

Hopefully any warning message output by the tool will relate to
issues with the XML file itself: the contents of the ADDRESS/URL
tags are used to determine where 'ahelp -i' and 'ahelp -w' find
the information from and these are being cleaned up for CIAO 3.0.
Unfortunately it's not been completed yet.
