{% from 'mathjax.html.j2' import mathjax %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="{{ resources.require_js_url }}"></script>

{% for css in resources.inlining.css -%}
  <style type="text/css">
    {{ css }}
  </style>
{% endfor %}

{{ resources.include_css("static/index.css") }}
{{ resources.include_css("static/theme-light.css") }}

<style type="text/css">
div.notebook a.anchor-link {
   display: none;
}
div.notebook .highlight  {
    margin: 0.4em;
}
/* try to make nn-notebook links look like our standard */
div.notebook .notebook-link a {
  text-decoration: underline;
}
</style>

{{ mathjax() }}
